<!-- <h2></h2> -->

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
<%= devise_error_messages! %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <!-- HEAD -->
        <div class="panel-heading">
          <i class="fa fa-user" aria-hidden="true"></i> <%= t('.title', :resource => resource_class.model_name.human , :default => "Edit #{resource_name.to_s.humanize}") %>
        </div>
        <!-- BODY -->
        <div class="panel-body">
          <!-- FORM -->
          <form class="form-horizontal" role="form">
            <!-- E-MAIL -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Email</label>
              <div class="col-sm-9">
                <%= f.email_field :email, :class => "form-control", :placeholder => "E-mail"%>
                <%- if devise_mapping.confirmable? && resource.pending_reconfirmation? -%>
                <p>
                  <%= t('.currently_waiting_confirmation_for_email', :email => resource.unconfirmed_email, :default => "Currently waiting confirmation for: %{email}") %>
                </p>
                <%- end -%>
              </div>
            </div>
            <!-- SENHA -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Senha <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>)</i></label>
              <div class="col-sm-9">
                <%= f.password_field :password, :class => "form-control", :placeholder => "Senha", :autocomplete => "off"%> 
                <!-- <input type="password" class="form-control" id="inputPassword3" placeholder="Senha" required>-->
              </div>
            </div>
            <!-- CONFIRMAR SENHA -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Confirmar senha</label>
              <div class="col-sm-9">
                <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirmar senha" %>
              </div>
            </div>
            <!-- CPF -->
            <div class="form-group">
              <label class="col-sm-3 control-label">CPF</label>
              <div class="col-sm-9">
                <%= f.text_field :cpf, :class => "form-control" %>
              </div>
            </div>
            <!-- NOME -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Nome</label>
              <div class="col-sm-9">
                <%= f.text_field :nome, :class => "form-control" %>
              </div>
            </div>
            <!-- CEP -->
            <div class="form-group">
              <label class="col-sm-3 control-label">CEP</label>
              <div class="col-sm-9">
                <%= f.text_field :cep, :class => "form-control" %>
              </div>
            </div>
            <!-- CIDADE -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Cidade</label>
              <div class="col-sm-9">
                <%= f.text_field :cidade, :class => "form-control" %>
              </div>
            </div>
            <!-- LOGRADOURO -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Logradouro</label>
              <div class="col-sm-9">
                <%= f.text_field :logradouro, :class => "form-control" %>
              </div>
            </div>
            <!-- BAIRRO -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Bairro</label>
              <div class="col-sm-9">
                <%= f.text_field :bairro, :class => "form-control" %>
              </div>
            </div>
            <!-- NUMERO -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Número</label>
              <div class="col-sm-9">
                <%= f.text_field :numero, :class => "form-control" %>
              </div>
            </div>
            <!-- COMPLEMENTO -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Complemento</label>
              <div class="col-sm-9">
                <%= f.text_field :complemento, :class => "form-control" %>
              </div>
            </div>
            <!-- TEL FIXO -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Telefone Fixo</label>
              <div class="col-sm-9">
                <%= f.text_field :tel_fixo, :class => "form-control" %>
              </div>
            </div>
            <!-- TEL CELULAR -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Celular</label>
              <div class="col-sm-9">
                <%= f.text_field :tel_celular, :class => "form-control" %>
              </div>
            </div>
            <!-- SENHA ATUAL -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Senha atual</label>
              <div class="col-sm-9">
                <%= f.password_field :current_password , :class => "form-control", :placeholder => "Senha atual" %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>)</i>
              </div>
            </div>
            <!-- BOTÕES -->
            <div class="form-group last">
              <div class="col-sm-offset-3 col-sm-9">
                <%= f.submit t('.update', :default => "Update"), :class => "btn btn-success btn-sm" %>

                <h3><%= t('.cancel_my_account', :default => 'Cancel my account') %></h3>

                <p><%= t('.unhappy', :default => 'Unhappy') %>? <%= link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete %>.</p>

                <%= link_to t('devise.shared.links.back', :default => "Back"), :back %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>