<p id="notice"><%= notice %></p>

<p>
  <strong>Cnpj:</strong>
  <%= @estabelecimento.CNPJ %>
</p>

<p>
  <strong>Inscestadual:</strong>
  <%= @estabelecimento.InscEstadual %>
</p>

<p>
  <strong>Razaosocial:</strong>
  <%= @estabelecimento.RazaoSocial %>
</p>

<p>
  <strong>Nomefantasia:</strong>
  <%= @estabelecimento.NomeFantasia %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @estabelecimento.CEP %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @estabelecimento.cIdade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @estabelecimento.UF %>
</p>

<p>
  <strong>Codigomunicipalibge:</strong>
  <%= @estabelecimento.CodigoMunicipalIbge %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @estabelecimento.Logradouro %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @estabelecimento.Bairro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @estabelecimento.Numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @estabelecimento.Complemento %>
</p>

<p>
  <strong>Telefonefixo:</strong>
  <%= @estabelecimento.TelefoneFixo %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @estabelecimento.Celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @estabelecimento.Email %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @estabelecimento.Observacao %>
</p>

<%= link_to 'Edit', edit_estabelecimento_path(@estabelecimento) %> |
<%= link_to 'Back', estabelecimentos_path %>
